@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    max-height: 100vh;
    max-width: 100vw;
    background-color: #fefee3;
}
/* header */ 

header {
    background-color: #2c6e49;
    color: #fefee3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
}
header h1 {
    font-size: 40px;
    padding: 0 30px;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 3em;
    font-size: 20px;
    padding: 0 30px;
}

nav a {
    text-decoration: none;
    color: #fefee3;
    font-size: 20px;
    font-weight: 599;
}

/* main */
main {
    max-height: 88vh;
}

.box-main {
    display: flex;
    width: 100%;
}

.box1 {
    width: 45%;
}

.box1 img {
    height: 500px;
    width: 450px;
    display: block;
    margin: 50px auto 0px;
}
.box2 {
    width: 55%;
    margin: 70px auto 0;
    padding-right: 100px;
}
.box2 h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #2c6e49;
}

.box2 p {
    text-align: justify;
    padding-top: 40px;
    font-size: 18px;
}

.box2 button {
margin: 70px 40px 0px;
font-size: 25px;
padding: 10px 20px ;
border-radius: 30px;
border-style: none;
color: #fefee3;
font-weight: 700;
background-color: #2c6e49;
text-transform: uppercase;
}

#menuMobile {
    display: none;
}


@media screen and (max-width: 900px){
    nav {
        display: none;
    }

    #menuMobile {
        display: block;
        cursor: pointer;
        width: 55px;
    }
    nav.MenuMobile {
        position: absolute;
        top: 10vh;
        right: 0;
        display: block;
        height: 70vh;
        width: 100%;
        background-color: #2c6e49;
    }

    nav.MenuMobile > ul {
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
    }

    nav.MenuMobile ul > li {
        text-align: center;
        
    }
    .box-main {
        flex-direction: column;
    }
    .box1 {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .box1 img {
        width: 90vw;
    }
    .box2 {
        width: 100%;
        padding: 0 20px;
    }
    .box2 h1 {
        font-size: 40px;
    }

    button {
        display: block;
        margin: 20px auto;
    }


}